.wrapper {
  max-width: 800px; //нужны изображения такой ширины
  .slider {
    position: relative;
    overflow: hidden;
    .container {
      display: flex;
      transition: transform 1s ease-in-out;
      position: relative;
    }
    .icons {
      display: flex;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      justify-content: space-between;
      align-items: center;
    }
  }
}
