header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #013914;
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: 0.7s all ease;

  a {
    color: white;
  }

  &.active {
    background-color: white;
    color: black;

    button {
      background-color: white !important;
      color: #1bb16b !important;
      border: 1px solid #1bb26b !important;
      transition: all 0.7s ease !important;
      background-color: transparent !important;

      &:hover {
        background: lighten($color: #d2eae1, $amount: 5%) !important;
      }
      &:active {
        background: darken($color: #cbebdb, $amount: 5%) !important;
      }
    }
    a {
      color: black;
    }
  }

  .container {
    width: 1400px;

    .top {
      width: 1400px;
      display: flex;
      justify-content: space-between;
      padding: 20px 0;

      .left {
        font-size: 24px;
        font-weight: bold;
      }

      .right {
        display: flex;
        align-items: center;
        gap: 24px;
        font-weight: bold;

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          position: relative;

          img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
        .options {
          cursor: auto;
          position: absolute;
          top: 40px;
          right: 0;
          padding: 20px;
          background-color: white;
          border-radius: 10px;
          z-index: 999;
          border: 1px solid lightgrey;
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 200px;
          font-weight: 300;
          color: rgb(96, 96, 96);
        }
        button {
          font-weight: bold;
          color: white;
          padding: 10px 20px;
          border-radius: 5px;
          border: 1px solid white;
          cursor: pointer;
          transition: all 0.1s ease-in-out;
          background-color: transparent;

          &:hover {
            background: lighten($color: #1aac68, $amount: 5%);
          }
          &:active {
            background: darken($color: #1e8555, $amount: 5%);
          }
        }
      }
    }
  }
  hr {
    width: 100%;
    border-top: 0.5px solid #ebe9e9;
    border-bottom: 0.5px solid #ebe9e9;
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    &:hover {
      cursor: default;
    }
  }
}
